*$py.class
*,cover
*.egg
*.egg-info
*.egg-info/
*.iml
*.log
*.manifest
*.mo
*.pot
*.py[cod]
*.pyc
*.so
*.spec
*.swp
.Python
.cache
.coverage
.coverage.*
.eggs/
.env
.hypothesis/
.installed.cfg
.ipynb_checkpoints
.python-version
.ropeproject
.scrapy
.spyderproject
.tox/
.webassets-cache
/.cache
/.coverage
/.idea
/.medikit
/.python*-*
/.pytest_cache
/.release
/build
/dist
/doc/_build
/htmlcov
/pylint.html
ENV/
__pycache__/
build/
celerybeat-schedule
coverage.xml
develop-eggs/
dist/
docs/_build/
downloads/
eggs/
env/
htmlcov/
instance/
lib/
lib64/
local_settings.py
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
sdist/
target/
var/
venv/
