-e .[dev]
-r requirements.txt
atomicwrites==1.3.0
attrs==19.3.0
coverage==4.5.4
isort==4.3.21
more-itertools==8.0.2
packaging==19.2
pluggy==0.13.1
py==1.8.1
pyparsing==2.4.6
pytest-cov==2.8.1
pytest==4.6.8
six==1.13.0
wcwidth==0.1.8
