-e .
asgiref==3.2.3
cachecontrol==0.12.6
certifi==2019.11.28
chardet==3.0.4
django==3.0.2
idna==2.8
jinja2==2.10.3
markupsafe==1.1.1
msgpack==0.6.2
pyjwt==1.7.1
pytz==2019.3
requests==2.22.0
sqlparse==0.3.0
urllib3==1.25.7
