-e .[dev]
-r requirements.txt
atomicwrites==1.4.0
attrs==19.3.0
coverage==4.5.4
isort==4.3.21
more-itertools==8.3.0
packaging==20.4
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest-cov==2.8.1
pytest==4.6.10
six==1.14.0
wcwidth==0.1.9
