-e .
cachecontrol==0.12.5
certifi==2019.9.11
chardet==3.0.4
django==2.2.5
idna==2.8
jinja2==2.10.1
markupsafe==1.1.1
msgpack==0.6.2
pyjwt==1.7.1
pytz==2019.2
requests==2.22.0
sqlparse==0.3.0
urllib3==1.25.6
